
/* --------------------------------------- GLOBAL ------------------------------------- */

*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* --------------------------------------- nav barr ----------------------------------- */


nav, footer{
    background-color: rgb(67, 68, 68);
    height: 50px;
}

#logo {
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    float: left;
    letter-spacing: 3px;
    font-size: 25px;
    color: antiquewhite;
}

.menu {
    text-align: center;
    line-height: 50px;
}

.menu li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: block;
}

.menu li:hover{
    background-color: rgb(36, 39, 39);
}

/* --------------------------------------------- home ---------------------------------- */

.main{
    background-color: rgb(126, 45, 100);
}
.home {
    height: calc(100vh - 50px);
}

.home img{
    position: absolute;
    top: 90px;
    right: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.acc{
    padding-top: 90px;
    margin-left: 90px;
    color: aliceblue;
    justify-content: flex;
}

.acc a h4{
    padding-top: 100px;
    font-weight: 900;
    font-size: 25px;
}

.acc h1{
    padding-top: 10px;
    font-size: 40px;
    font-weight: 900;
    margin-left: 60px;
}

.acc h5{
    padding-top: 7px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 130px;
    letter-spacing: 5px;
}

.btn{
    text-decoration: none;
    background-color: #1037a1;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 15px;
    display: inline-block;
    color: rgb(182, 173, 173);
    margin-left: 280px;
    margin-top: 20px;
    transition: 0.4s;
}

.btn:hover{
    background-color: #051d5e;
    color: rgb(218, 208, 208);
    transition: 0.4s;
}

/* ------------------------------------------------- about ------------------------------------------- */

.about, .work, .resume{
    height: 100vh;
    text-align: center;
}

.title h1{
    background-color:  rgb(67, 68, 68);
    width: 80%;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    line-height: 50px;
    color: aliceblue;
    box-shadow: 3px 3px 8px rgb(37, 37, 37);
}

.about h3{
    padding: 20px;
    text-decoration: underline;
    font-size: 30px;
    color:antiquewhite
}

.prog{
    color: aliceblue;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* ---------------------------------------------------- work --------------------------------------------- */

.listw{
    padding-top: 20px;
}

.listw img {
    width: 16%;
    height: 200px;
    border-radius: 10px 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.listw img:hover{
    box-shadow: 3px 3px 8px rgb(37, 37, 37);
    transition: 0.3s;
}

/* -------------------------------------------------- resume --------------------------------------------- */

.resume p{
    font-size: 25px;
    color: aliceblue;
    margin: auto;
    padding-top: 30px;
    width: 70%;
}

/* -------------------------------------------------- contact --------------------------------------------- */

.contact a h1{
    text-align: center;
}

.contact{
    width: 50%;
    height: calc(100vh - 50px);
    margin: auto;
}

.details{
    margin-left: 30%;
    margin-top: 50px;
}

.details label, .details span, .details h5{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    margin-right: 20px;
}

.details div{
    padding-top: 20px;
}

.details div input, .details div select{
    background-color:rgb(171, 179, 179) ;
    border-radius: 8px;
    border: #111727 solid 3px;
    height: 25px;
}

.details div textarea{
    background-color:rgb(171, 179, 179) ;
    border-radius: 8px;
    border: #111727 solid 3px;
}

.btn1{
    background-color:rgb(88, 90, 90) ;
    border-radius: 8px;
    border: #111727 solid 3px;
    width: 60px;
    height: 35px;
    cursor: pointer;
    margin-left: 30px;
    color: aliceblue;
    font-weight: bold;
}

.btn1:hover{
    background-color: rgb(62, 63, 63);
}

/* -------------------------------------------- footer ------------------------------------ */

footer{
    text-align: center;
    line-height: 50px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

footer span{
    margin-right: 50px;
}

#fb{
    color: #021a5c;
}

#ins{
    color: rgb(99, 5, 75);
}

#lkin{
    color: #023812;
}